.FilmCard {
    padding: 4px;
    margin: 3px;
    background-color: black;
    color: white;
    font-size: 10px;
    border-radius: 5px;
    border: .1em solid rgb(112, 1, 1);
    height: 230px;
    max-width: 160px;
    display: flex;
    flex-direction: column;

    .FilmCardImg {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
}