.OrderCard {
    background-color: black;
    border-radius: 20px;
    border: 2px solid rgb(112, 1, 1);
    margin: 2px;
    padding: 1.5px;
    width: 15rem;
    min-height: 9rem;

    .CardBody {
        background-color: black;
        border-radius: 16px;
        color: white;
        font-size: 1em;
        margin: 3px;
        padding: 3px;

        strong {
            background-color: black;
            color: rgb(148, 0, 0);
            align-self: center;
        }
    }
}