
#signupWall{
    background: linear-gradient(black 20%, rgb(17, 0, 0),rgb(48, 0, 0),rgb(59, 0, 0),rgb(116, 0, 0),rgb(59, 0, 0), rgb(48, 0, 0),rgb(17, 0, 0),black 80%);

   

    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:space-evenly;

    box-sizing: border-box;

    color: white;
    width: 100vw;
  height: 78vh;

   
}

.signupitem{
   
    padding: 0.3em;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin-left: 20em;
}

.labelitems{
    margin-left: 2em;
    margin-right: 2em;

    border-bottom: 0.1em solid red;
   
}

.inputitem{
    background-color: black;
    color: red;

    padding: 0.2em;

    border: 0.1em solid red;
    
    transition: 1s;
}


.inputitem:hover{
    background-color: red;
    color: black;

    padding: 0.2em;

    border: 0.1em solid black;

    transition: 1s;

    border-radius: 2em;
    
}

.submitSignupItem{
    margin-left: 40em;
}

