.filmsCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    min-height: 78vh;
    height: auto;
    width: 100vw;
    position: relative;
}

.searchBar {
    background-color: black;    
    text-align: center;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 100vw;
}

.filmsList {
    background: linear-gradient(rgb(150, 1, 1), rgb(36, 0, 0), rgb(36, 0, 0), rgb(150, 1, 1));
    text-align: center;
    font-size: 3em;
    font-style: italic;
    color: white;
    min-height: 73vh;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.searchBarForm {    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 2em;
}

.searchByGenreScreen {
    background-color: transparent;
    border: none;
    display: none;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: absolute;
}

.showSearchScreenButton {
    background-color: transparent;
    border: none;
    color: white;
    font-size: inherit;
    font-weight: bold;
    margin-right: auto;
    margin-left: 1em;

}

.searchByGenreMenu {
    background-color: black;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: left;
    text-align: left;
}

.emptySpace {
    background-color: black;
    opacity: 0.5;
    width: 80%;
    height: 100%;
}

.genres {
    margin: 0.3em;
    font-size: 1.2em;
}

.genreButton {
    background-color: transparent;
    border: none;
    margin: 0.3em;
    font-size: 1.2em;
    color: white;
    text-align: left;
}

.sideBarSearch {
    display: flex;
    flex-direction: column;
}

.DetailsScreen {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
}

.rowEmpty1 {
    background-color: black;
    opacity: 0.7;
    width: 100%;
    height: 5%;
}

.rowEmpty2 {
    background-color: black;
    opacity: 0.7;
    width: 100%;
    height: 5%;
    flex-grow: 1;
}

.rowCard {
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.colEmpty {
    background-color: black;
    opacity: 0.7;
    flex-grow: 1;
}

.colCard {
    background-color: black;
}