
.profileWall{
    width: 100vw;
    min-height: 78vh;
    height: auto;
    background: linear-gradient(black 20%, rgb(17, 0, 0),rgb(48, 0, 0),rgb(59, 0, 0),rgb(116, 0, 0),rgb(59, 0, 0), rgb(48, 0, 0),rgb(17, 0, 0),black 80%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;

    #profileCard{
        background-color: black;
        border-radius: 1.5em;
        padding: 0.4em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: 0.1em solid red;

        #profilePhoto{
            height: 8em;
            width: 8em;
            background-color: grey;
            padding: 1em;
            border-radius: 50%;
        }

        #profileInfo{
            background-color: rgba(255, 0, 0, 0.123);
            padding: 0.3em;
            margin: 0.5em;

            border-radius: 1.5em;

            .profileItem{
                margin: 1em;

                #profileItemName{
                    border-bottom: 0.2em solid red ;
                    text-align: center;
                    font-size: 1.5em;
                }

                .profileItemText{
                    font-size: 1.3em;
                }
            }
        }
    }

    #logoutButton{
        margin: 1em;
        padding: 0.5em;
        border-radius: 1em;
        background-color: red;
        color: black;
        border: 0.1em solid red;
        font-weight: bolder;
    }

    #logoutButton:hover{
        margin: 1em;
        padding: 0.5em;
        border-radius: 1em;
        background-color: black;
        color: red;
        border: 0.1em solid red;
        font-weight: bolder;
        cursor: pointer;
    }
}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.ElemList {
    display: flex;
    flex-direction: column;

    .elemTitle {
        align-self: center;
    }

    .list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

.testsCard {
    height: 200px;
    width: 150px;
    background-color: blue;
    border-radius: 1em;
    border: solid lime 0.1em;
    margin: 0.5em;
}