.FilmDetailedCard {
    background-color: black;
    color: white;
    border: none;
    display: flex;
    flex-direction: row;

    .cardImgColumn {
        display: flex;
        flex-direction: column;
        min-width: 240px;
        flex-shrink: 1;

        .RentFilmForm {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 0.4em;
            min-width: 240px;
            width: auto;

            .dateInput {
                padding: 0.4em;
                border-color: red;
                color: white;
                background-color: black;
                border-radius: 1em;
                width: 3em;
            }

            .dateLabel {
                align-self: center;
                color: white;
                font-size: 0.9em;
                margin-right: 2px;
                margin-left: 2px;
            }

            .submitOrder {
                padding: 0.4em;
                border-radius: 1em;
                background-color: red;
                color: white;
                transition: 0.3s;
            }

            .submitOrder:hover {
                background-color: black;
                color: red;
                transition: 0.3s;
                cursor: pointer;
            }
        }

        .errorMessage {
            color: rgb(255, 255, 0);
            font-size: 1em;
            align-self: center;
        }

        .cardImg {
            object-fit: contain;
            padding: 5px;
            max-width: 310px;
            min-width: 250px;
            width: auto;
            height: auto;
        }
    }

    .cardParaph {
        display: flex;
        flex-direction: column;
        max-width: 450px;
        padding-left: 10px;
        padding-top: 10px;
        flex-shrink: 10;

        .cardText {
            padding: 5px;
            margin: 0%;
        }

        .title {
            font-weight: bold;
            font-size: large;
            align-self: center;
        }

        .fieldName {
            font-weight: bold;
        }

        .synopsis {
            font-style: italic;
        }
    }
}

@media(max-width: 576px) {
    .FilmDetailedCard {
        display: flex;
        flex-direction: column;
        align-items: center;

        .cardImgColumn {
            .cardImg {
                min-width: 350px;
                width: 350px;
            }
        }        
    }
}