
.loginWall{
    text-align: center;
    width: 100vw;
    height: 78vh;
    background: linear-gradient(black 20%, rgb(17, 0, 0),rgb(48, 0, 0),rgb(59, 0, 0),rgb(116, 0, 0),rgb(59, 0, 0), rgb(48, 0, 0),rgb(17, 0, 0),black 80%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .labelItemLogin {
        color: white;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
    }

    .inputItemLogin {
        padding: 0.4em;
        border-color: red;
        color: white;
        background-color: black;
        border-radius: 1em;
        width: 18em;
        margin-bottom: 0.5em;
       
    }

    .inputItemLogin:hover {
        padding: 0.4em;
        border-color: red;
        color: black;
        background-color: red;
        border-radius: 1em;
        width: 18em;
        margin-bottom: 0.5em;
    }

    .submitLoginItem {
        padding: 0.5em;
        width: 6em;
        border-radius: 1em;
        background-color: red;
        color: white;
        transition: 0.3s;
    }

    .submitLoginItem:hover {
        background-color: black;
        color: red;
        transition: 0.3s;
        cursor: pointer;
    }

    .errorMessage{
        color: rgb(255, 255, 0);
        font-size: 1.2em;
    }
}




